              <!-- FIN DEL CUERPO DE LA PÄGINA -->

	      <!-- $Id: footer.html,v 1.1 2003/03/25 11:21:45 mariscal Exp $ -->

             </td>
            </tr>
           </table>
          </td>
         </tr>
        </table>
        <!-- end story -->

        <br>

       </td>
      </tr>
     </table>
    </td>
    <!-- end right column -->
   </tr>

   <tr>
    <td align="center" colspan="2">
     <!-- footer -->
     <tr>
      <td align="center" colspan="2">
       <span class="footer">
        Diseño: &copy; Copyleft 2001 - krsna77 <br>
	Contenidos &copy; Copyleft, 2002-2003 - Álvaro Sánchez-Mariscal
       </span>
      </td>
     </tr>
     <!-- end footer -->
    <!-- </td>
   </tr> -->
  </table>
  <!-- end body table -->
 </body>
</html>
